.searchArea {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 2rem auto 0rem auto;
  padding: 0rem 2rem;
}

.searchBar {
  position: relative;
  width: 100%;
}

.search {
  background-color: rgb(31, 31, 43, 0.9);
  border: 1px solid rgb(31, 31, 43, 0.9);
  border-radius: 10px;
  width: 100%;
  height: 2.5rem;
  color: rgb(255, 255, 255);
  padding-left: 2.5rem;
}

.icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0rem 2rem;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.cards {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-top: 1rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(58, 58, 58) transparent;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

@media (max-width: 900px) {
  .cards {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0rem 2.2rem;
  }

  .sectionTitle {
    text-align: center;
  }
}
