.cast {
  padding: 2rem;
}

.cast h1 {
  margin-bottom: 1rem;
}

.actors {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(58, 58, 58) transparent;
  padding-bottom: 1rem;
}

.picture {
  object-fit: cover;
  max-height: 10rem;
  max-width: 7rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  word-wrap: break-word;
  max-width: 7rem;
}

.character {
  font-size: 0.8rem;
  color: rgb(143, 140, 140);
  word-wrap: break-word;
  max-width: 7rem;
}

@media (max-width: 900px) {
  .actors {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0rem 2.2rem;
  }

  .sectionTitle {
    text-align: center;
  }
}
