
.navBar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(31, 31, 43, 0.9);
  gap: 1rem;
  align-items: center;
}

.pageButtons {
  display: flex;
  gap: 1rem;
}


